- content_for :body_class do 
  proizvoditel
#text
  Императорский фарфоровый завод &mdash; одно из старейших в Европе, первое и одно из крупнейших в России предприятий по производству художественных фарфоровых изделий. Расположен в Санкт-Петербурге.
  (!)
  .clear
- if @products.empty?
  %div
    Нет продуктов для данного производителя 
- else
  - @products.each do |product|
    .fotoblock{ :class => cycle('','secondcol') }
      .name
        = product.name
      .image
        %a{:href => product_by_manufacturer_path(@taxon.name, product.id) }
          = display_product_image_for_list product
  - if @products.respond_to? :total_pages
    - paginate_items @products
  - else
    - content_for :main_uzor_bottom do 
      :plain
        style="overflow-y: scroll"

- content_for :left_menu do
  = render :partial => '/left_menu_for_manufacturer', :manufacturer => @taxon
